body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #444cf7 0, #444cf7 1px, #e5e5f7 0, #e5e5f7 50%);
    color: #333;
}

/* Header styling */
header {
    text-align: center;
    margin-top: 50px;
}

header h1 {
    font-size: 4em;
    color: #333;
    margin-bottom: 10px;
}

/* Navigation styling */
nav.primary {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}

nav.primary ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

nav.primary ul li {
    margin: 0 20px;
}

nav.primary ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}

nav.primary ul li a:hover {
    color: #444cf7;
    background-color: #fff;
    border-radius: 5px;
}

/* Main content styling */
main {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.container {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    margin: 20px auto;
    color: #fff;
    border-radius: 8px;
}

/* Section styling */
#history, #recent-missions {
    margin-bottom: 40px;
}

#history h2, #recent-missions h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-decoration: underline;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    color: #333;
}

table th, table td {
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #444cf7;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
}

footer a {
    color: #444cf7;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}