*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: #2f2f2f; 
    opacity: 0.95; 
    background: 
        linear-gradient(135deg, #555555 25%, transparent 25%) -10px 0/ 20px 20px, /* Diagonal line with darker gray */
        linear-gradient(225deg, #333333 25%, transparent 25%) -10px 0/ 20px 20px, /* Diagonal line with even darker gray */
        linear-gradient(315deg, #444444 25%, transparent 25%) 0px 0/ 20px 20px, /* Another diagonal with medium gray */
        linear-gradient(45deg, #666666 25%, #2f2f2f 25%) 0px 0/ 20px 20px; /* Diagonal lines forming a checkerboard pattern */
    color: white; 
    margin: 50px; 
    outline: 5px solid rgba(255, 255, 255, 0.3); 
    padding: 0; 
}


.container {
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.9); 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}


h1 {
    color: white;
    text-align: center;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}